
// Define variables for your color scheme

// For example:


$my-grey: #5d5b6a;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;






$light-yellow: #FFFFDD;


$pink: #FCE2DB;
$text: #333333;
$text-faded: #C5B3AE;
$button-pink: #ffb6b9;
$subtext: #A0928E;
$button-border: #ff80b0;
