h1 {
  font-size: 4rem;

  @include for-tablet-landscape-down {
    font-size: 3rem;
  }
  @include for-tablet-portrait-down {
    font-size: 2.6rem;
  }
}

.h1-font-size {
  font-size: 4rem;

  @include for-tablet-landscape-down {
    font-size: 3rem;
  }
  @include for-tablet-portrait-down {
    font-size: 2.6rem;
  }
}

.p-small {
  font-size: 1rem;

  @include for-tablet-landscape-down {
    font-size: 0.9rem;
  }
  @include for-tablet-portrait-down {
    font-size: 0.8rem;
  }
}

