// Specific CSS for your home-page

//test

#login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: red;
}

//test

#landing-flex-box {
  position: absolute;
  top:0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#landing-panel-left {
  // position: absolute;
  // top: 0;
  // height: 100%;
  width: 45%;
  background-color: $pink;
  overflow: hidden;
  white-space: nowrap;
}

#landing-image-strip {
  // background-image: image-url('gallery.jpg');
  background-size: cover;
  // position: absolute;
  // top: 0;
  width: 40%;
  height:100%;

}

#landing-panel-right {
  // position: absolute;
  // top: 0;
  height: 100%;
  width: 15%;
  background-color: $pink;
}

.landing-list {
  font-size: 28px;
  text-decoration: none;
  letter-spacing: 2px;
  & a {
    text-decoration: none;
    color: $text-faded;
    transition: 0.3s;
  }
  & a:hover {
    color: $text;
  }
}


#biglogo{
  font-size: 120px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  // font-weight: lighter;
  letter-spacing: 0px;
  font-weight: 700;
  color: $text;
}

#biglogovr {
  // margin-left: 0px;
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  // font-weight: lighter;
  letter-spacing: 0px;
  font-weight: 700;
  color: $text;
  margin-left: -8px;
}

#biglogoart {
  font-size: 70px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  // font-weight: lighter;
  letter-spacing: 0px;
  font-weight: 600;
  color: $text-faded;
  margin-left: -8px;
}

#featured-artist {
  width: 400px;
  position: absolute;
  bottom: 392px;
  left: 8px;
  transform: rotate(90deg);
  transform-origin: bottom left;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  // font-weight: lighter;
  letter-spacing: 4px;
  color: $text-faded;
  margin-left: -8px;
}
