// Specific CSS for your home-page

//test

//test

#landing-flex-box {
  position: absolute;
  top:0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#landing-panel-left {
  // position: absolute;
  // top: 0;
  height: 100%;
  background-color: $pink;
  @include for-phone-only {
    width: 50%;
    transition: 0.2s;
  }
  @include for-tablet-portrait-up {
    width: 45%;
    transition: 0.2s;
  }
}

#landing-image-strip {
  background-size: cover;
  background-position: center top;

  height:100%;
  @include for-phone-only {
    width: 50%;
    transition: 0.2s;
  }
  @include for-tablet-portrait-up {
    width: 40%;
    transition: 0.2s;
  }

}

.landing-list {
  font-size: 28px;
  text-decoration: none;
  letter-spacing: 2px;
  & a {
    text-decoration: none;
    color: $text-faded;
    transition: 0.3s;
  }
  & a:hover {
    color: $text;
  }
}


#biglogo{
  font-size: 120px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  // font-weight: lighter;
  letter-spacing: 0px;
  font-weight: 700;
  color: $text;
}

#biglogovr {
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  color: $text;
  margin-left: -8px;
}

#biglogoart {
  font-size: 70px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  letter-spacing: 0px;
  font-weight: 600;
  color: $text-faded;
  margin-left: -8px;
}

#featured-artist {
  width: 380px;
  position: absolute;
  bottom: 392px;
  left: 8px;
  transform: rotate(90deg);
  transform-origin: bottom left;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  // font-weight: lighter;
  letter-spacing: 4px;
  color: $text-faded;
  margin-left: -8px;
  @include for-phone-only {
    display:none;
  }
}

.main-page-logo {
  @include for-phone-only {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    transition: 0.2s;
  }
  @include for-tablet-portrait-up {
    opacity: 100;
    visibility: visible;
    height: 30%;
    transition: 0.2s;
  }
}

.main-page-button-list {
  height:100%;
  position: absolute;
  z-index: 2;
  @include for-phone-only {
    margin-left: 24px;
    transition: 0.2s;
  }
  @include for-tablet-portrait-up {
    margin-left: 86px;
    transition: 0.2s;
  }
}
