#background-1 {
  position: absolute;
  // width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  z-index: -1;
  scroll-snap-type: y mandatory;
  // scroll-snap-points-y: repeat(100vh);
}


#background-2 {
  height: 100vh;
  width: 100vw;
  // position: absolute;
  display: flex;
  scroll-snap-align: start;
}

.back-left {
  height: 100%;
  width: 50%;

  h2 {
    font-size: 64px;
    color: black;
    // font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  }

  p {
    color: gray;
    // padding-bottom: 10px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  }
}

.back-right {
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center;

}

.btn-galleries {
  border:solid 2px black;
  border-radius: 5px;
  color: black;
  padding: 10px 37px;
  font-size: 16px;

  &:hover {
    color: gray;
    border: solid 2px gray;
    text-decoration: none;
    transition: 0.3s;
  }
}
.back-left-text{
  @include for-phone-only {
    margin-left: 24px;
    transition: 0.2s;
  }
  @include for-tablet-portrait-up {
    margin-left: 86px;
    opacity: 100;
    transition: 0.2s;
  }
}
