#embeddedScene {
  border: 5px solid black;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.sidePanel {
  // border: 5px solid rgb(150,150,150);
  border-radius: 2px;
  position: absolute;
  top: 99px;
  right: 40px;
  height: 80%;
  width: 200px;
  z-index: 1;
  background-color: rgba(255,255,255,0.8);
  padding:30px;
  font-weight: bold;
  outline: 10px solid $pink;
  outline-offset: 10px;
}

.sidePanel.hidden {
  visibility: hidden;
}


#key-prompts {
  position: absolute;
  left: 500px;
  top: 200px;
  z-index: 1;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
  padding: 30px;
  padding-top: 43px;
  text-align: center;
  font-weight: bold;
}
.close {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 10px;
  color: black;
  font-size: 15px;
  border: 1px solid rgb(150,150,150);
}
.wasd {
  width: 370px;
  height: 100px;
  margin-bottom: 30px;
}
