#embeddedScene {
  border: 5px solid black;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.sidePanel {
  // border: 5px solid rgb(150,150,150);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 320px;
  z-index: 1;
  background-color: white;
  padding:30px;
  font-weight: bold;
  transition: 0.2s;
  border-left: 4px solid rgb(40,40,40);
}

.side-panel-notch {
  position: absolute;
  background-color: rgb(40,40,40);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.sidePanel.hidden {
  transform: translateX(290px);
}


#key-prompts {
  position: absolute;
  left: 500px;
  top: 200px;
  z-index: 1;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.6);
  padding: 30px;
  padding-top: 43px;
  text-align: center;
  font-weight: bold;
}
.close {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 10px;
  color: black;
  font-size: 15px;
  border: 1px solid rgb(150,150,150);
}
.wasd {
  width: 370px;
  height: 100px;
  margin-bottom: 30px;
}
