<!-- show all the spaces -->

<h1>Spaces</h1>
<% @spaces.each do |space| %>
  <%= link_to space.name, space_path(space) %>
<% end %>

<h1>Artists</h1>
<% @users.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>

