<!-- show all the spaces -->
<%= render 'shared/navbar' %>



<h1>Spaces</h1>

<div  class="container" style="width: 1100px">
  <div class="row ">
    <% @spaces.each do |space| %>
      <div class="col-md-6">
        <%= (render partial: 'shared/card', locals: { space: space }) %>
      </div>
    <% end %>
  </div>
</div>

