<!-- show all the spaces -->

<%= render partial: 'shared/navbar', locals: { space: @space, user: @user } %>

<% @title="Muse VR - Gallery index page" %>

<div class="page-container">
  <div class="spaces-index-heading">
    <h1>GALLERIES</h1>
  </div>

  <div class="spaces-index-subtitle">
    <% if @spaces.count == 0 %>
      <h2> No galleries to browse on Muse </h2>
    <% elsif @spaces.count == 1 %>
      <h2> Browse 1 gallery on Muse </h2>
    <% else %>
      <h2> Browse the <%=@spaces.count%> galleries on Muse </h2>
    <% end %>
  </div>


  <div  class="container show-page-container" >
    <div class="row">
      <% @spaces.each do |space| %>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 d-flex justify-content-center bottom-buffer">
          <%= (render partial: 'shared/card', locals: { space: space }) %>
        </div>
      <% end %>
    </div>
  </div>

</div>



