<!-- show all the spaces -->
<%= render 'shared/navbar_users_galleries_index' %>
<div class="spaces-index-heading">
 <h1>GALLERIES</h1>


</div>



<h1>Spaces</h1>


<div  class="container" style="width: 1100px">
  <div class="row ">
    <% @spaces.each do |space| %>
      <div class="col-md-6">
        <%= (render partial: 'shared/card', locals: { space: space }) %>
      </div>
    <% end %>
  </div>
</div>

</div>



