<div class="main" >
    <% card_image = cl_image_path artwork.photo.key %>

    <div class="card" style="width: 500px; height:500px; background-image: url(<%= card_image %>)">
      <div class= "spaces-card-text d-flex justify-content-center align-items-center h-100 w-100">
        <h4 class= "name_of_space"><%=artwork.name%></h4>
      </div>
    </div>
</div>



