
<div class="main" >
  <% if space.user == current_user %>
    <% card_path = space_path(space) %>
  <% else %>
    <% card_path = space_vr_path(space) %>
  <% end %>
    <%= link_to card_path do %>
      <% if space.photo.attached? %>
        <% card_image = cl_image_path space.photo.key %>
      <% else %>
        <% card_image = "https://images.unsplash.com/photo-1459411621453-7b03977f4bfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1418&q=80" %>
      <% end %>

      <div class="card card-size" style="background-image: url(<%= card_image %>)">
        <div class= "spaces-card-text d-flex justify-content-center align-items-center h-100 w-100">
          <h4 class= "name_of_space"> View <%=space.name%></h4>
        </div>
      </div>
    <% end %>
</div>





