<!-- <div style="width: 100vw; " class="d-flex justify-content-center" > -->

        <div class="card w3-panel w3-padding" >
          <div style = "width:500px">
            <%= image_tag 'spaces.png', class: 'card-img' %>
            <div class="card-img-overlay">

              <div style="width: 500px">
                <h4><%= space.name %></h4>
                <h4><%= space.user.username %></h4>
              </div>
            </div>
          </div>
        </div>

<!-- </div> -->
