
          <%= link_to space_path(space) do  %>
           <div class="card  w3-padding d-flex"  >
            <%= image_tag 'spaces.png', class: 'card-img' %>
            <div class="card-img-overlay">
              <div class= "spaces-card-text">
                <h4><%= space.name %></h4>
                <h4><%= space.user.username %></h4>
              </div>
            </div>
          </div>
        <%end %>


