
<div class="main" >
  <%= link_to space_path(space) do  %>
      <%  if space.photo.attached? %>
        <% card_image = cl_image_path space.photo.key %>
      <% else %>
        <% card_image = image_path 'VR.jpg', class: 'card-img  w3-padding d-flex mb-4' %>
      <% end %>

    <div class="card" style="width: 500px; height:500px; background-image: url(<%= card_image %>)">
      <div class= "spaces-card-text d-flex justify-content-center align-items-center h-100 w-100">
        <h4 class= "name_of_space"> View <%=space.name%></h4>
      </div>
    </div>
  <%end %>
</div>





