
        <div class = main >
          <%= link_to space_path(space) do  %>
           <div class="card w3-padding d-flex m-4"  >
            <%= image_tag 'VR.jpg', class: 'card-img  w3-padding d-flex mb-4' %>
            <div class="card-img-overlay">
              <div class= "spaces-card-text">
                <h4 class= "name_of_space"><%= space.name %></h4>
                <h4 class= "owner_of_space"><%= space.user.username %></h4>
              </div>
            </div>
          </div>

        <%end %>
      </div>





