<div class="main" >
    <div class="cardShowPage d-flex justify-content-center" style="width: 250px; height:250px;">

      <% if artwork.artwork_type == "3D Model" %>
        <%= cl_image_tag("#{artwork.photo.key}.gltz", fetch_format: "jpg", height: "250px") %>
        <%#= image_tag model_path, alt: "alttext" %>
      <% elsif artwork.artwork_type == "Image" %>
        <%= cl_image_tag(artwork.photo.key, height: "250px") %>
      <% end %>

      <div class= "spaces-card-text d-flex justify-content-center align-items-center h-100 w-100 flex-column">
        <h4> <%= link_to 'delete', artwork_path(artwork), method: :delete %> </h4>
        <button type="button" class="transparent addArtButton" style="border:0;" data-toggle="modal" data-target="#artworkModal">Edit</button>
      </div>
    </div>
    <h4 class="name_of_space" ><%=artwork.name%></h4><br>
</div>
