<div style="width:100%; height:100%;">
    <% card_image = image_path image %>
    <div class="choose_space_card" style="width:100%; height:100%; background-image: url(<%= card_image %>)">
      <div class="d-flex align-items-center">
        <%=  space.radio_button() %>
      </div>
    </div>
</div>



