//

.btn {
  background-color: #FCE2DB;
}

.spaces-card-text{
  opacity: 0;
  position: absolute;
  z-index: 3;
}

.spaces-card-text:hover {
  opacity: 100;
}

.name_of_space{
  // position: absolute;
  // bottom: 8px;
  // left: 16px;
  padding-top: 8px;
  color:$text;
  font-size: 20px;
  // color: $subtext;
  font-weight: 300;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0;
  position: relative;
  z-index: 0;
}

.card-size {
  @include for-phone-only {
    width: 100vw;
    height: 100vw;
  }
  @include for-tablet-portrait-up {
    width: 500px;
    height: 500px;
  }
}

.card:after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(250,250,250, 0.6);
  z-index: 1;
  opacity: 0;
  transition: 0.2s;
  outline: 20px solid $pink;
  outline-offset: -40px;
   @include for-phone-only {
    width: 100vw;
    height: 100vw;
  }
  @include for-tablet-portrait-up {
    width: 500px;
    height: 500px;
  }
  // background-image: linear-gradient(rgb(250,250,250), rgb(220,220,220));
}


.artwork-card {
  height: 500px;
  width: 500px;
  position: relative;
  z-index: 0;
}

.artwork-card:after {
  position: absolute;
  content: '';
  width: 350px;
  height: 350px;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px dashed $text-faded;
  border-radius: 50%;
  padding: 100px;
  // background: rgba(250,250,250, 0.1);
  z-index: -1;
  opacity: 40%;
}

.artwork-card-art-panel {
  width: 70%;
  height: 100%;
  padding: 64px 32px 64px 32px;
  display: flex;
  align-items: center;
  // transition: 0.7s;
  // &:hover {
  //   width: 90%;
  // }
}

.artwork-card-info-panel {
  margin: 48px 0 48px 0;
  border-left: 1px solid $text;
  padding: 64px 8px 64px 32px;
}

.artwork-titles {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  color: $text;
}

.artwork-info {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1px;
  color: $text;
}

.artwork-button {
  color: $text-faded;
  border: 1px solid $text-faded;
  transition: 0.2s;
  &:hover {
    color: $text;
    border: 1px solid $text;
  }
}


.card:hover:after {
  opacity: 1;
}

.addArtButton {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
}

.addArtButton:focus {
  outline: 0;
}

.artworkTypeSelection .collection_radio_buttons {
  margin-left: 8px;

}
