//

.btn {
  background-color: #FCE2DB;

}
.spaces-card-text h4{
  color:$text;

}
.spaces-index-heading h1 {
  color:$text;
  text-align: center;
}

.name_of_space{
 position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;

}

.owner_of_space {
  position:absolute;
  bottom:8px;
  right : 16px;
  font-size: 18px;
}
.card-img {
  width:500px;
  height:500px;
  object-fit:cover;
  border-radius: 2%;

}

.card {
  width:500px;
  height:500px;
  object-fit:cover;
  border-radius: 2%;

}

