.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  // font-weight: lighter;
  font-size: 28px;
  letter-spacing: 10px;
  font-weight: 200;
  color: $text;
}

.transparent {
  background: transparent;
}

.white-background {
  background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0));
}

.z-index {
  z-index: 3;
}

.vr-save-button{
  color: $text;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 20px;
  border: 2px solid $text;
  border-radius: 2px;
  padding: 0 16px 2px 16px;
  margin: 0 36px 20px 0;
  // border-radius: 4px;
  transition: 0.3s;
  outline: 0px solid $pink;
  // box-shadow: 0 0 4px $pink;

  &:hover {
    text-decoration: none;
    color: $text;
    outline: 2px solid $pink;
    outline-offset: -6px;

  }
}

.dropdown-item {
  color: $text-faded;
  background-image: none;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.3s;
  &:hover {
    color: $text;
    background: transparent;
    background-image: none;
  }
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-toggle {
  color: $text-faded;
  transition: 0.2s;
  &[aria-expanded="true"] {
    color: $text;
  }
}

.white-background .dropdown-toggle {
  color: $text;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.simple_form input[type='text'] {
  width: 30vw;
}

.search-size {
  height: 100px;
}

.navbar-landing a {
    color: white;
}

.search-bar{
  transition: 0.3s;
  &:focus {
    box-shadow: 0px 9px 8px -8px #CCC9A1;
    background: transparent
  }
}

.medium-width {
  width: 510px;
}


.active-purple-2 .fas {
  color: #CCC9A1;
}
.trans-bg {
  background: transparent
}

.large-width {
  width: 500px;
}

.search-bar-landing::placeholder {
  color: $text-faded;
}

.navbarUnderContent {
  position: absolute;
  top:0;
  left: -50px;
  z-index: -1;
  height: 99px;
  width: 350px;
  background-color: $pink;
  transform: skewX(-45deg);
}

